/*importaciones*/
/*Normalize*/
@import url(./normalize.css);
/*footer*/
@import url(./footer.css);
/*fuente poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*boostrap para iconos*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/*variables de ambiente*/
:root{
    --negro-noche:#020A12;
    --morado-noche:#190B28;
    --azulOscuro-noche:#0A335C;
    --blanco-noche: #EDF5FD;


    --fontPredet:"Poppins";
}
/*Apartado General*/
*{
    font-family: var(--fontPredet), sans-serif;
    
}
a{
    text-decoration: none;
}

/*Header*/
.cont-header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
    border-radius: 50% 50% 0 0;
    margin: 5px 2%;
    background-image: linear-gradient(to bottom, var(--negro-noche) ,var(--morado-noche),var(--azulOscuro-noche), var(--blanco-noche) );
}

.ttl{
    margin: 0;
    text-align: center;
    color: white;
}
.cont-header .ttl .fn{

    font-size: 6rem;
}
.cont-header .ttl .ln{
    font-size: 4rem;
}


/*espacio de navegacion*/
.nav-sects{
    background-color: aliceblue;
    border: 2px solid black;
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
    position: fixed;
    bottom: 0;
}
/*about me*/
.about-me{
    height: 50vh ;
}
.about-me h2{
    margin-left:6rem;
}

.about-me .sect.art-photo{
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 10%;
    
}
.about-me .sect.art-photo .art{
    width: 40%;
}
.about-me .sect.art-photo figure{
    width: 29%;
    height: 100%;
    object-position: bottom;
}

figure{
    overflow: hidden;
    object-position: top;
}
img{
    overflow: hidden;
    
    width: 10%;
}
